/*Font Style*/
body {
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Inter', sans-serif;
}

.first-section {
    background-image: linear-gradient(180deg, #070211 0%, rgba(3, 0, 10, 0) 100%), url(./Image/Banner\ Image.png);
    border-radius: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px;
    height: 600px;
    margin: auto
}

.banner-title1 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 120px;
}

.banner-title2 {
    color: #FFF;
    font-size: 55px;
    width: 630px;
    text-align: center;
    padding-left: 340px;
}

/*2nd Section*/

.section-2-title1 {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}

.section-2-title2 {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.section-2-title3 {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.second-section-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
}